#image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mp-btn-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.btn {
  margin-bottom: 13px;
  width: 60%;
}