<html>
<head>
    <title>FaceRecog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

</head>
<body>
    <div id="title-container">
        <a href="{{ url_for('home')}}">
            <h1 id="title">
                Facerecog
            </h1>
        </a>       
    </div>    

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


<footer>
    <p>&copy; 2022 FaceRecog, Inc.</p>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js")}}"></script>
</body>
</html>